<?xml version="1.0"?>

<launch>
  
  <!-- Run the map server --> 
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find glide_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find glide_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find glide_2dnav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find glide_2dnav)/params/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find glide_2dnav)/params/base_local_planner_params.yaml" command="load" />
   
    <rosparam file="$(find glide_2dnav)/params/move_base_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <remap from="odometry" to="/outdoor_waypoint_nav/odometry/filtered_map" />
    <remap from="cmd_vel" to="/cmd_vel_intermediate" />
    <remap from="/map" to="/outdoor_waypoint_nav/map" />
  </node>

</launch> 